
.item-image{
  width: 200px;
  height: 200px;
}

.logo-image{
  width: 30%;
}
.cart-images{
  width: 100px;
}
@media screen and (max-width:992px) {
  .item-image{
    width: 150px;
    height: 150px;
  }
}